@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  background-color: rgb(24 24 24);
  justify-content: center;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #6C727F; /* Change scrollbar handle color on hover */
}

::-webkit-scrollbar-thumb {
  background-color: #282B30; /* color of the scrollbar thumb */
  border-radius: 8px; /* rounded corners of the scrollbar thumb */
}